--DROP FUNCTION dbo.CheckConstraints;

CREATE FUNCTION dbo.CheckConstraints (
	@TableName VARCHAR(30),
	@ConstraintType VARCHAR(30),
	@ExpectedColumnName VARCHAR(30)
)
RETURNS BIT
AS
BEGIN 
	IF  EXISTS ( SELECT ccu.COLUMN_NAME
		FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS tc
			JOIN INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE ccu ON tc.CONSTRAINT_NAME = ccu.Constraint_name
		WHERE tc.CONSTRAINT_TYPE = @ConstraintType AND tc.TABLE_NAME = @TableName AND ccu.COLUMN_NAME = @ExpectedColumnName)
	BEGIN
		RETURN 1;
	END
	RETURN 0;
END;