
<div class="main-container">
  <div id="main-content" class="max-height-width">
    <div class="row-container">
      <div class="panel panel-default test-panel">
        <div class="panel-heading"><h4>Incidents</h4></div>
        <div class="panel-body">Display data here...</div>
      </div>

      <div class="panel panel-default test-panel">
        <div class="panel-heading"><h4>Staff</h4></div>
        <div class="panel-body">Display data here...</div>
      </div>

      <div class="panel panel-default test-panel">
        <div class="panel-heading"><h4>Locations</h4></div>
        <div class="panel-body">Display data here...</div>
      </div>

      <!-- Copy and paste the panel template if you want to add more -->
    </div>

  </div>

</div>

