
<div class="main-container">
    <div id="main-content" class="max-height-width">
      <div class="row-container">
        <div class="container-fluid">
          <div class="panel panel-default test-panel">
            <div class="panel-heading"><h4>Incidents</h4></div>
            <div class="panel-body">Display data here...</div>
          </div>
        </div>
  
        <div class="container-fluid">
          <div class="panel panel-default test-panel">
            <div class="panel-heading"><h4>Staff</h4></div>
            <div class="panel-body">Display data here...</div>
          </div>
        </div>
  
        <location-component class="container-fluid" [locations]="locations"></location-component>
  
      </div>
  
    </div>
  
  </div>
  
  