<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-10 col-md-offset-1 col-md-offset-right-1">
      <div class="flex-container">
        <div class="flex-item panel panel-default" *ngFor="let incident of incidents" (click)="viewReport(incident)">
            <div class="panel-body">
                <p class="panel-title">RID: {{incident.attributes.REPORT_ID}}</p> 
                <p class="field-title">{{incident.attributes.DESCRIPTION}}</p>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
