<div class="main-container">
    <div id="main-content" class="max-height-width">
        <div id="incidents-container" class="col-sm-8">
            <div id="workspace" class="row">
                <div id="workspace-data" class="col-sm-3">
                    <div id="button-container">
                        <button class="btn btn-primary" (click)="newReport();">New Report</button>
                    </div>
                    <incidents-component></incidents-component>
                </div>
                <div id="workspace-main" class="col-sm-9">
                    <div id="incidents-dashboard" class="panel panel-default">
                        <div class="panel-body">
                            <div class="quarter-box" *ngFor="let report of reportsInWorkspace">
                                <report-summary [inputReport]="report"></report-summary>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      

        <div id="left-panels" class="col-sm-2 side-container">
            <timer-component></timer-component>
            <staff-component></staff-component>
        </div>
      
        <div id="right-panels" class="col-sm-2 side-container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-tasks glyphicon-heading"></span>
                    <span class="panel-header">Workflow Prompt</span>
                </div>
                <div class="panel-body"></div>
            </div>

            <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-stats glyphicon-heading"></span>
                        <span class="panel-header">Stats</span>
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-info-sign glyphicon-heading"></span>
                    <span class="panel-header">Info</span>
                </div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Resources</a></li>
                        <li><a data-toggle="tab" href="#menu1">Notepad</a></li>
                    </ul>
                </div>
            </div>
        </div>
      
  </div>
    
</div>