@import "settings";

div.incident-element-container,
div.incident-element-container .incident-element-header,
div.incident-element-container .incident-element-details,
div.incidents-row,
div.side-container,
div.side-container .panel-heading {
    @include flex(flex-start, flex-start);
}

@media (max-width: 1800px) {
    div#incidents-container { 
        width: 100vw;
        height: 100%;
    }

    div.side-container {
        width: 50%;
        height: 150vh;
    }
}

div#incidents-container {
    order: 1;
    padding: $padding-lg;

    div#incidents-dashboard {
        height: 100%;
        margin: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        background-color: $grey-dark;
        .panel-heading {
            height: auto;
        }
        .panel-body{
            padding: 12px !important;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            //border: 2px solid #d6d6d6;
            border-bottom: none;
        }
    }

    div#workspace.row {
        height: 100%;
        display: flex;
        overflow: hidden;
    }

    div.panel {
        overflow: hidden;

        div.panel-heading {
            @include flex(space-between, flex-start);
            
            input {
                min-width: 250px;
                width: 350px;
            }
        }
        div.panel-body {
            height: 100%;
            width: 100%;
            overflow: auto;
        }
    }
}

div.quarter-box {
    height: 49%;
    width: 49%;
    min-width: 300px;
    margin: 4px;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 8px;
    background-color: white;

    @media (max-height: 900px) {
        height: 100%;
    }
}

div#left-panels {
    order: 2;

    #button-container {
        flex-grow: 0.1;
        button {
            padding: 6px 48px !important;
        }
    }
}
div#right-panels {
    order: 3;
}

div.side-container {
    flex-direction: column;
    padding: $padding-md;
    min-width: 300px;
    .panel {
        width: 100%;
        flex-grow: 1;
    }

    //.panel-heading { padding-bottom: 0px; }
    .panel-body { padding-top: 0px; }

    .form-control {
        background-color: $grey-dark;
        //border: none;
        box-shadow: none;
        max-width: 50%;
    }
}

.card {
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.07), 1px 2px 5px 0 rgba(0,0,0,.06);
}

#workspace-main {
    height: 100%;
}

#workspace-data {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 300px;
    max-width: 400px;
    incidents-component {
        height: 91%;
    }
}

#button-container {
    padding-bottom: 12px;
    button {
        width: 50%;
    }
}

staff-component {
    height: 50%;
    width: 100%;
}