@import "settings";

div.incident-element-container,
div.incident-element-container .incident-element-header,
div.incident-element-container .incident-element-details,
div.incidents-row,
div.side-container,
div.side-container .panel-heading {
    @include flex(flex-start, flex-start);
}


div#incidents-container {
    order: 2;
    padding: $padding-lg;

    div#incidents-dashboard {
        height: 100%;
        margin: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        .panel-body{
            padding: 0px !important;
            height: 95%;
        }
    }

    div#workspace.row {
        height: 67%;
        overflow: hidden;
    }
    div#bottom-panels.row {
        height: 33%;
        max-height: 33%;
        overflow: hidden;
    }

    div.col { height: 100%; }

    div#left-col { padding-right: 0px; }
    div#right-col { padding-left: 0px; }
    
    div#incidents-list-panel, div#staff-list-panel {
        height: 100%;
        background: $grey-lite;
        border-top: 4px solid $grey-default;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        
        div.panel-body {
            padding-bottom: 0px;
        }
        
        div#toolbar {
            height: 20%;
        }
        div#incidents-list, div#staff-list {
            height: 80%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: $grey-dark;
            overflow: auto;
        }
    }

    div.panel {
        overflow: hidden;

        div.panel-heading {
            @include flex(space-between, center);
            
            input {
                min-width: 250px;
                width: 350px;
            }
        }
        div.panel-body {
            height: 100%;
        }
    }
}

div.incidents-row {
    background-color: white;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

div.quarter-box {
    height: 100%;
    width: 25%;
    border-right: 8px double $grey-dark;
    overflow-y:auto;
}

div.incident-box {
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-width: 25%;
    padding: $padding-lg;
    //border: $border-default;
    overflow: auto;

    .incident-header {
        font-size: $text-lg;
    }
}

div.incident-card {
    @include flex(space-between, center);
    padding-bottom: $padding-lg;
    border-bottom: $border-default;

    div.incident-icon {
        height: 36px;
        width: 36px;
        border: $border-default;
        border-radius: 99px;
    }

    div.incident-title {
        @include flex(flex-start, center);
        flex-direction: column;
    }

    .incident-timer {
        float: right;
        font-size: $text-md;
    }
}

div.incident-element-container {
    flex-direction: column;
    padding-top: $padding-sm;
    padding-bottom: $padding-sm;

    .incident-element-header {
        width: 100%;
        padding-bottom: $padding-sm;
    }

    .icon { margin-right: 8px; }
    .incident-element-title {
        font-size: $text-md;
    }

    .incident-element-details {
        
        flex-direction: column;
    }
    width: 100%;
    height: auto;
}

div#left-panels {
    order: 1;

    #button-container {
        flex-grow: 0.1;
        button {
            padding: 6px 48px !important;
        }
    }
}
div#right-panels {
    order: 3;
}

div.side-container {
    flex-direction: column;
    padding: $padding-md;

    .panel {
        width: 100%;
        flex-grow: 1;
    }

    .form-control {
        background-color: $grey-lite;
        border: none;
        box-shadow: none;
        max-width: 50%;
    }
}

incidents-component {
    height: auto;
}