@import "settings";

.container > .row {
    clear: both; }
  
.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}
  
  .modal-body {
      text-align: left;
  }
  
  .modal-header {
      padding: 1em !important;
  }
  
  .modal-title {
      margin-top: 1em !important;
  }
  
  select.category-field {
      padding: 0.5em;
      margin-left: 0.5em;
      width: 80%;
  }
  
  label.field-title.modal-field-title {
      padding-left: 10%;
  }
