@import "_settings";

.container > .row {
    clear: both; }
  
  .centre-container {
      margin: 0 auto;    
  }

  .outer-container {
    position: relative; 
  }
  
  .m-1 {
      margin: 1em !important;
  }
  
  .mb-1 {
      margin-bottom: 1em !important;
  }
  
  .mb-2 {
      margin-bottom: 2em !important;
  }
  
  .ml-1 {
      margin-left: 1em;
  }
  
  .ml-2 {
      margin-left: 2em;
  }

  .ml-3 {
      margin-left: 3em;
  }
  
  .mr-1 {
      margin-right: 1em;
  }
  
  .mt-sm {
      margin-top: 0.5em !important;
  }
  
  .mt-1 {
      margin-top: 1em !important;
  }
  
  .mt-2 {
      margin-top: 2em !important;
  }
  
  .p-0, ul.p-0 {
      padding: 0 !important;
  }
  
  .pb-sm {
      padding-bottom: 0.5em !important;
  }
  
  .pb-1 {
      padding-bottom: 1em !important;
  }
  
  .pt-1 {
      padding-top: 1em !important;
  }
  
  .pt-2 {
      padding-top: 2em !important;
  }
  
  .lh-1 {
      line-height: 2em !important;
  }
  
  .modal-body {
      text-align: left;
  }
  
  .modal-header {
      padding: 1em !important;
  }
  
  .modal-title {
      margin-top: 1em !important;
  }
  
  select.category-field {
      padding: 0.5em;
      margin: 0 auto;
      width: 80%;
  }
  
  .modal-field-title {
      padding-left: 10%;
  }
  
  .flex-container {
    @include flex( space-between, flex-start );
    flex-wrap: wrap;  
    margin-bottom: 4.5em;    
    position: relative;  
    min-height: 100%;
    width: 100%;
  }
  
  .flex-item {
    float: none;
    width: 45%;
    max-width: 45%;      
    height: 12em;
    margin: 0.8em;

    @media (max-width: 413px) {
        width: 40%;
        max-width: 40%;  
    }

    @media (max-width: 300px) {
        width: 100%;
        max-width: 100%;  
    }
  }
  
  .panel-body {
      height: 100%;
      padding-bottom: 1em;
      word-break: break-word;     
  }
  
  ul {
      height: 100%;
      padding-bottom: 1em; 
      overflow: scroll;
      text-overflow: ellipsis;
  }
  
  footer {
      background-color: transparent;
      bottom: 0;
      margin-bottom: 0;  
      height: 4em;
      width: 100%;
      position: fixed;
      text-align: right;
  }
  
  .guard-menu-button {
    position: relative;
    color: #f5f5f5;
  }
  
  .collapsable-heading {
      padding-top: 1em !important;
      padding-bottom: 1em !important;
      background-color: #f5f5f5;
  }
  
  h4.panel-title {
      font-weight: 400;
      font-size: 115%;
  }
  
  .panel-heading .accordion-toggle.collapsed:after {
      /* symbol for "collapsed" panels */
      content: "\e080";
  }
  
  .panel-heading .accordion-toggle:after {
      /* symbol for "opening" panels */
      font-family: 'Glyphicons Halflings';
      content: "\e114";
      float: right;     
      color: grey;
  }
  
  .topAlert {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 50px;
  }

  .no-padding {
    padding-right: 0px;
    padding-left: 0px;
}

.tab-content {
    padding-right: 15px;
    padding-left: 15px;
}

#guard-nav-tabs {
    background-color: white;
    padding-bottom: 0px;
    a {
        color: $field-title-color;
        font-size: $text-sm;
    }
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: white;
    border: none;
    color: $sfu-black;
    border-bottom: 1px solid $sfu-black;
} 


