@import "_settings";

div.report-header {
    @include flex(center, flex-start);
    width: 100%;
    padding: $padding-md;
}

.report-id {
    font-size: 18px;
    font-weight: $header-font-weight;
    opacity: $header-opacity;
    color: #333;
}