@import "_settings";

div.report-header {
    @include flex(center, flex-start);
    width: 100%;
    padding: $padding-md;
}

.report-id {
    font-size: 18px;
    font-weight: $header-font-weight;
    opacity: $header-opacity;
    color: #333;
}

.bottom-links {
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;
    padding-bottom: 8px;
    
    span {
        margin: 8px;
    }
}

#accept-temp {
    display: flex;
    justify-content: center;
    margin-bottom: $padding-md; 
}