@import "settings";

#search-form {
    @include flex(flex-start, flex-start);
    height: $navbar-height;
    margin-bottom: $padding-lg;

    .search-element {
        height: 100% !important;
        //box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        
    }

    #search-input {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #search-btn {
        width: $navbar-height;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
}

.panel {
    border-bottom: none;
}

.panel-body{
    padding: 0px;
}

.incident-card {
    @include flex(flex-start, flex-start);    
    border-bottom: $border-default;
    padding: 16px;

    .main-content, .actions {
        height: 100%;
    }

    .main-content {
        width: 100%;
    }

    .actions {
        @include flex(flex-start, center);
    }
}