<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="category" data-toggle="dropdown">
        Chosen category (insert json)
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="category">
        <li role="presentation" class="divider"></li>                
        <li role="presentation"><a role="menuitem" href="#">category 1 - get json</a></li>
        <li role="presentation"><a role="menuitem" href="#">category 2 - get json</a></li>
        <li role="presentation"><a role="menuitem" href="#">category 3 - get json</a></li>
        <li role="presentation"><a role="menuitem" href="#">category 4 - get json</a></li>
    </ul>
</div> 

