<div class="dropdown">
    <label>Category</label>
    <select [(ngModel)] ="selectedMainCategory.MAIN_CATEGORY" (change)="onSelect1($event.target.value)">  
        <option>--Select Category--</option>  
        <option *ngFor="let category of categories" value={{category.MAIN_CATEGORY}}>{{category.MAIN_CATEGORY}}</option>  
    </select>
    <div>  
        <label>Subcategory</label>  
        <select [(ngModel)] ="selectedSubCategory.SUB_CATEGORY" (change)="onSelect2($event.target.value)">                  
            <option *ngIf='selectedMainCategory.MAIN_CATEGORY == ""'>--Select Subcategory--</option>  
            <option *ngFor="let subcategory of filteredSubcategories" value={{subcategory.SUB_CATEGORY}}>{{subcategory.SUB_CATEGORY}}</option>  
    </select>  
    </div>
    <div>
        <label>Type</label>  
        <select [(ngModel)] ="selectedType.INCIDENT_TYPE" (change)="onSelect3($event.target.value)">                  
            <option *ngIf='selectedSubCategory.ID == ""'>--Select Type--</option>  
            <option *ngFor="let type of filteredTypes " value={{type.CATEGORY_ID}}>{{type.INCIDENT_TYPE}}</option>  
        </select>  
    </div>

    <button (click)="submitCategory">Set Category</button>  

    <!-- Category -->
    <!-- <button class="btn btn-default dropdown-toggle" type="button" id="category" data-toggle="dropdown">
        Category
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="category">
        <li role="presentation" class="divider"></li>
        <li role="presentation" [ngClass]="{'active': selectedItem == item}" (click)="listClick($event, item)" *ngFor="let item of categories">
                {{category.MAIN_CATEGORY}}
        </li>
    </ul> -->

    <!-- Subcategory -->
    <!-- <button class="btn btn-default dropdown-toggle" type="button" id="category" data-toggle="dropdown">
        Subcategory
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="category">
        <li role="presentation" class="divider"></li>                
        <li role="presentation"><a role="menuitem" href="#">category 1 - get json</a></li>
        <li role="presentation"><a role="menuitem" href="#">category 2 - get json</a></li>
        <li role="presentation"><a role="menuitem" href="#">category 3 - get json</a></li>
        <li role="presentation"><a role="menuitem" href="#">category 4 - get json</a></li>
    </ul> -->

    <!-- Type -->
    <!-- <button class="btn btn-default dropdown-toggle" type="button" id="category" data-toggle="dropdown">
        Type
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="category">
        <li role="presentation" class="divider"></li>                
        <li role="presentation"><a role="menuitem" href="#">category 1 - get json</a></li>
        <li role="presentation"><a role="menuitem" href="#">category 2 - get json</a></li>
        <li role="presentation"><a role="menuitem" href="#">category 3 - get json</a></li>
        <li role="presentation"><a role="menuitem" href="#">category 4 - get json</a></li>
    </ul>         -->
</div> 

