<div class="dropdown">
    <label>Category</label>
    <select [(ngModel)] ="selectedMainCategory.ID" (change)="onSelect($event.target.value)">  
        <option value="0">--Select Category--</option>  
        <option *ngFor="let mainCategory of mainCategories" value={{mainCategory.ID}}>{{mainCategory.NAME}}</option>  
    </select>
    <div>  
        <label>Subcategory</label>  
        <select>  
            <option *ngIf='selectedMainCategory.ID == 0' value="0">--Select Subcategory--</option>  
            <option *ngFor="let subCategory of subCategories " value={{subCategory.ID}}>{{subCategory.NAME}}</option>  
        </select>  
        </div> 
    <!-- Category -->
    <!-- <button class="btn btn-default dropdown-toggle" type="button" id="category" data-toggle="dropdown">
        Category
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="category">
        <li role="presentation" class="divider"></li>
        <li role="presentation" [ngClass]="{'active': selectedItem == item}" (click)="listClick($event, item)" *ngFor="let item of categories">
                {{category.MAIN_CATEGORY}}
        </li>
    </ul> -->

    <!-- Subcategory -->
    <!-- <button class="btn btn-default dropdown-toggle" type="button" id="category" data-toggle="dropdown">
        Subcategory
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="category">
        <li role="presentation" class="divider"></li>                
        <li role="presentation"><a role="menuitem" href="#">category 1 - get json</a></li>
        <li role="presentation"><a role="menuitem" href="#">category 2 - get json</a></li>
        <li role="presentation"><a role="menuitem" href="#">category 3 - get json</a></li>
        <li role="presentation"><a role="menuitem" href="#">category 4 - get json</a></li>
    </ul> -->

    <!-- Type -->
    <!-- <button class="btn btn-default dropdown-toggle" type="button" id="category" data-toggle="dropdown">
        Type
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="category">
        <li role="presentation" class="divider"></li>                
        <li role="presentation"><a role="menuitem" href="#">category 1 - get json</a></li>
        <li role="presentation"><a role="menuitem" href="#">category 2 - get json</a></li>
        <li role="presentation"><a role="menuitem" href="#">category 3 - get json</a></li>
        <li role="presentation"><a role="menuitem" href="#">category 4 - get json</a></li>
    </ul>         -->
</div> 

