<ul>
  <li *ngFor="let incident of incidents">
      {{incident.EXECUTIVE_SUMMARY}} , 
      RID: {{incident.REPORT_ID}} , 
      Staff: {{incident.ACCOUNT_ID}} , 
      Description: {{incident.DESCRIPTION}} <br>
      Location(s): <br>
      <ul>
        <li *ngFor="let location of incident.LOCATIONS">
          {{location.CITY}} , 
          {{location.BUILDING_NAME}} , 
          {{location.ROOM_NUMBER}} , 
          {{location.DEPARTMENT}} 
        </li>
      </ul>
      
  </li>
</ul>

<div class="row-container">
  <span class="field-title">Description</span>
  <textarea cols="50" rows="8" [(ngModel)]="newIncident.DESCRIPTION"></textarea>
</div>

<div class="row-container">
  <span class="field-title">Executive Summary</span>
  <textarea cols="50" rows="8" [(ngModel)]="newIncident.EXECUTIVE_SUMMARY"></textarea>
</div>

<button class="btn btn-primary" (click)="addIncident();">Submit</button>