<div class="panel panel-default test-panel">
  <div class="panel-heading"><h4>Incidents</h4></div>
  <div class="panel-body">
    <ul>
      <li *ngFor="let incident of incidents">
          {{incident.execSummary}} , 
          RID: {{incident.reportID}} , 
          Staff: {{incident.accountID}} , 
          {{incident.description}}
      </li>
    </ul>
  </div>
</div>

<div class="panel panel-default test-panel">
  <div class="panel-heading"><h4>New Incident</h4></div>
  <div class="panel-body">
    <div class="row-container">
      <span class="field-title">Description</span>
      <textarea cols="50" rows="8"></textarea>
    </div>

    <div class="row-container">
      <span class="field-title">Executive Summary</span>
      <textarea cols="50" rows="8"></textarea>
    </div>

    <button class="btn btn-primary">Submit</button>
  </div>
</div>
