<table id="incidents-table" class="max-height-width">
  <thead>
    <tr>
      <th></th>
      <th>Report ID</th>
      <th>Category</th>
      <th>SubCategory</th>
      <th>Type</th>
      <th>Description</th>
      <th>Location</th>
      <th>Assigned Staff</th>
      <th>Date/Time Created</th>
    </tr>
  </thead>
  <tbody *ngFor="let incident of incidents">
    <tr>
      <td>!!!</td>
      <td>RID11283940<!-- {{incident.REPORT_ID}} --></td>
      <td>Environmental</td>
      <td>Accidental Spill/Release</td>
      <td>Biological</td>
      <td>{{incident.DESCRIPTION}} </td>
      <td>Burnaby AQ 3150</td>
      <td><a href="">Assign</a></td>
      <td>08/13/2017 4:44</td>
    </tr>
  </tbody>
</table>

<!-- <div class="row-container">
  <span class="field-title">Description</span>
  <textarea cols="50" rows="8" [(ngModel)]="newIncident.DESCRIPTION"></textarea>
</div>

<div class="row-container">
  <span class="field-title">Executive Summary</span>
  <textarea cols="50" rows="8" [(ngModel)]="newIncident.EXECUTIVE_SUMMARY"></textarea>
</div>

<button class="btn btn-primary" (click)="addIncident();">Submit</button> -->