<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-10 col-md-offset-1 col-md-offset-right-1">
            <div id="new-report-panel" class="panel panel-default">
                <div class="panel-heading">
                    <div>
                        <span class="glyphicon glyphicon-dashboard glyphicon-heading"></span>
                        <span class="panel-header">New Report</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div>
                        <h4>Category</h4>
                        <select>
                            <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                        </select>
                    </div>
                    
                    <div>
                        <h4>Sub-Category</h4>
                        <select [(ngModel)]="dynamicTest" (change)="onSelectChangeEvent()">
                            <option *ngFor="let subCategory of subCategories" [value]="subCategory">{{subCategory}}</option>
                        </select>
                    </div>
                    
                    <div>
                        <h4>Description</h4>
                        <textarea cols="50" rows="4" [(ngModel)]="newIncident.attributes.DESCRIPTION"></textarea>
                    </div>
                
                    <div>
                        <h4>Executive Summary</h4>
                        <textarea cols="50" rows="8" [(ngModel)]="newIncident.attributes.EXECUTIVE_SUMMARY"></textarea>
                    </div>
                    
                    <div>
                        <h4>Locations</h4>
                        <div *ngFor="let location of locations">
                            <span>{{location.BUILDING_NAME}}, </span>
                            <span>{{location.ROOM_NUMBER}}, </span>
                            <span>{{location.DEPARTMENT}}</span>
                        </div>
                    </div>

                    
                    
                    
                    <div id="locations">
                        <button class="btn btn-default" (click)="addComponent(locationStr)">Add Location</button>
                        <button class="btn btn-default" (click)="getLocations()">Get Locations</button>
                            
                    </div>
                    

                    <button (click)="addComponent(dynamicTest)"> [+] </button>
                    
                    <!-- Dynamic Divs -->
                    <div id="vehicles" *ngIf="dynamicTest == 'Vehicle'"> 
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>



