<div class="row">
    <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
        <div id="new-incident-panel" class="panel panel-default">
            <div class="panel-body">
                <h2>New Report</h2>
                <br>
                <!-- <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Menu 1</a></li>
                    <li><a href="#">Menu 2</a></li>
                    <li><a href="#">Menu 3</a></li>
                </ul> -->
                <!-- <div class="form-group">
                    <span class="field-title">Type</span>
                    <select class="form-control"></select>
                </div> -->
                <div class="form-group">
                    <span class="field-title">Description</span>
                    <textarea class="form-control" cols="50" rows="4" [(ngModel)]="newIncident.attributes.DESCRIPTION"></textarea>
                </div>

                <div class="form-group">
                    <span class="field-title">Executive Summary</span>
                    <textarea class="form-control" cols="50" rows="8" [(ngModel)]="newIncident.attributes.EXECUTIVE_SUMMARY"></textarea>
                </div>

                <dynamic-form></dynamic-form>

                <div class="row">
                    <!-- <span class="link">Cancel</span> -->
                    <div class="col-md-offset-8 col-lg-offset-8 col-md-4 col-lg-4">
                        <button class="btn btn-primary" (click)="addIncident();">Create</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>