<div class="panel panel-default test-panel">
  <div class="panel-heading"><h4>Persons</h4></div>
  <div class="panel-body">

    <h4>Search</h4>

    <span class="field-title">First Name</span>
    <input type="text" [(ngModel)]="newPerson.FIRST_NAME" /> <br>
    <span class="field-title">Last Name</span>
    <input type="text" [(ngModel)]="newPerson.LAST_NAME" /> <br>
    <span class="field-title">Phone Number</span>
    <input type="text" [(ngModel)]="newPerson.PHONE_NUMBER" /> <br>
    <button class="btn btn-primary" (click)="findPerson();">
        Search
    </button>
      
    <ul>
      <li *ngFor="let person of personList">
          Id: {{person.PERSON_ID}}, 
          {{person.FIRST_NAME}}, 
          {{person.LAST_NAME}},
          {{person.PHONE_NUMBER}}   
          <button class="btn btn-primary" (click)="selectPerson();">
              Select
          </button> 
      </li>
    </ul>

    <h4>Add a Person</h4>
    
    <span class="field-title">First Name</span>
    <input type="text" [(ngModel)]="newPerson.FIRST_NAME" /> <br>
    <span class="field-title">Last Name</span>
    <input type="text" [(ngModel)]="newPerson.LAST_NAME" /> <br>
    <span class="field-title">Phone Number</span>
    <input type="text" [(ngModel)]="newPerson.PHONE_NUMBER" /> <br>
    <button class="btn btn-primary" (click)="addPerson();">
        Submit
    </button>


  </div>
</div>
