<div class="panel panel-default test-panel">
    <div class="panel-heading"><h4>Staff</h4></div>
    <div class="panel-body">  
      <ul>
          <li *ngFor="let staff of staffList">
            Id: {{staff.accountId}},
            {{staff.campusId}}, 
            {{staff.firstName}}, 
            {{staff.lastName}}
            <br>
            <input type="text" [(ngModel)]="staff.accountId"/>
            <input type="text" [(ngModel)]="staff.campusId"/>
            <input type="text" [(ngModel)]="staff.firstName"/>
            <input type="text" [(ngModel)]="staff.lastName"/>

            <span class="link" (click)="updateStaff(staff);">Save</span>
            <span class="link" (click)="deleteStaff(staff.accountId)">Delete</span>
          </li>
        </ul>
  
        <!-- <h4>Add a Staff: </h4>
        <span class="field-title">Staff ID</span>
        <input type="text" [(ngModel)]="newStaff.accountId" /> <br><br>
        <span class="field-title">Campus</span>
        <input type="text" [(ngModel)]="newStaff.campusId" /> <br><br>
        <span class="field-title">First Name</span>
        <input type="text" [(ngModel)]="newStaff.firstName" /> <br><br>
        <span class="field-title">Last Name</span>
        <input type="text" [(ngModel)]="newStaff.lastName" /> <br><br>
        <button class="btn btn-primary"
                (click)="addStaff();">
          Submit
        </button> -->
    </div>
  </div>
