
<nav id="main-navbar" class="navbar">
    <div id="navbar-container" class="container-fluid">
        <div class="navbar-header navbar-left-items">
            <a class="navbar-brand navbar-sm">SFU IRS</a>
            <a class="navbar-brand navbar-lg">SFU Incident Reporting System</a>
        </div>
        <ul class="nav navbar-nav">
            <li *ngIf="isAdmin" (click)="redirect('dashboard')"><a class="link">Dashboard</a></li>
            <li *ngIf="isAdmin" (click)="redirect('search')"><a class="link">Search</a></li>
        </ul>
        <ul id="navbar-right-items" class="nav navbar-nav navbar-right navbar-lg" *ngIf="user!=null">
            <li class="dropdown">
                <span class="glyphicon glyphicon-menu-hamburger navbar-right-button pull-left  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>    
                <ul class="dropdown-menu">
                    <li (click)="redirect('new-account')" *ngIf="isAdmin"><span class="link">Create Account</span></li>
                    <li id="separator" *ngIf="isAdmin"><span class="link" (click)="onLogout()">Logout</span></li>
                    <li *ngIf="!isAdmin"><span class="link" (click)="onLogout()">Logout</span></li>
                </ul>
            </li>
        </ul>
    </div>
    <span id="logout-link" class="link navbar-right navbar-sm" (click)="onLogout()">Logout</span>
    
</nav>


<router-outlet></router-outlet>
