<div id="main-navbar" class="nav navbar">
    <div class="navbar-left-items">
        <a class="navbar-brand navbar-sm" href="#">SFU IRS</a>
        <a class="navbar-brand navbar-lg" href="#">SFU Incident Reporting System</a>
    </div>
    
    <div class="navbar-right-items">
            <button id="logout" (click)="onLogout()" class="btn-defa btn"><span class="glyphicon glyphicon-log-out"></span></button>
            <!-- <div class="dropdown">
            <span class="glyphicon glyphicon-menu-hamburger navbar-right-button pull-left  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span>    
            <ul class="dropdown-menu">
                <li><span class="link">Action 1</span></li>
                <li><span class="link">Action 2</span></li>
                <li><span class="link">Settings</span></li>
                <li role="separator" class="divider"></li>
                <li><span class="link" (click)="onLogout()">Logout</span></li>
            </ul>
        </div> -->
    </div>

    
    <!-- <button id="logout" (click)="onLogout()" class="btn-default btn" style="position: absolute; right: 0;">Logout</button> -->
</div>
<router-outlet></router-outlet>
