<div id="timer-list-panel" class="panel panel-default">
    <div class="panel-heading">
        <div class="toolbar">
            <div class="flex">
                <span class="glyphicon glyphicon-list-alt glyphicon-heading"></span>
                <span class="panel-header">Timer</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div id="incident-card" class="col-md-12 col-lg-12">
            <div class="row">
                <button class="btn" (click)="showAddTimer();">Add Timer</button>

                <div id="timerForm" style="display: none">
                    <div>
                        <div>Task Name: </div>
                        <input type="text" placeholder="Task Name" [(ngModel)]="newTimer.TIMER_NAME">
                    </div>
                    <div>
                        <div>Start Time:</div>
                        <input type="dateTime-local" placeholder="yyyy-MM-ddTHH:mm" [(ngModel)]="newTimer.START_TIME">
                    </div>
                    <div>
                        <div>End Time:</div>
                        <input type="dateTime-local" placeholder="End Time" [(ngModel)]="newTimer.END_TIME">
                    </div>
                    <button class="btn" (click)="addTimer();">Add Timer</button>
                </div>
                <div class="main-content">
                    <div class="staff-card" *ngFor="let timer of timerList">
                        <p id="timerDisplay"></p>
                        <div class="detail-row description">
                            <span class="card-text-primary">
                                {{timer.TIMER_NAME}}
                            </span>
                        </div>
                        <div class="detail-row">
                            <span class="detail-row">Start Time: {{timer.START_TIME | date: "short"}}</span>
                        </div>
                        <div class="detail-row">
                            <span class="detail-row">End Time: {{timer.END_TIME | date: "short"}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
            <input class="form-control" type="text" placeholder="Search for timer...">
    </div>
</div>