/* Contains general css rules for the entire app */
@import "assets/sass/_settings";

span, a, button, textarea {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    font-size: $text-xs !important;
    background: $grey-default;
}

.clear-float {
    clear: both;
}

.main-container {
    height: calc(100vh - 50px);
    width: 100%;
}

#main-navbar {
    background-color: $sfu-red;
    border: none;
    border-radius: 0px !important;
    margin: 0px;

    a, .link, .glyphicon-menu-hamburger {
        color: $white;
    }

    .navbar-collapse {
        border: none;
        box-shadow: none;
    }

    .navbar-nav > li > a {
        font-size: $text-xs;
        &:hover {
            background-color: $sfu-red !important;
        }
        background-color: $sfu-red !important;

        &.active {
            font-weight: 700;
        }
    }

    .navbar-brand {
        font-weight: 700;
    }

    .dropdown-menu  {
        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
        position: absolute;
        width: 100px !important;

        li {
            padding: 8px;
        }

        li#separator {
            border-top: $border-default;
        }

        span, a {
            color: $sfu-black;
        }

    }

    .navbar-toggle {
        border: none;
        span {
            color: white;
        }
        &:hover, &:focus {
            background-color: $sfu-red;
        }
    }

    .navbar-toggle.pull-left {
        margin-left: 15px;
    }

    @media (min-width: 768px) {
        .pull-sm-left {
            float: left !important;
        }
    }
}



.max-height-width {
    height: 100%;
    width: 100%;
}

#main-content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    //margin-top: 50px;
    //flex-direction: column;
    overflow-x: auto;
}

.sidebar {
    height: 100%;
    width: 250px;
}

.row-container {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 24px;

    &.flex-center {
        justify-content: center !important;
        align-items: center !important;
    }
}

.test-panel {
    width: 100%;
    height: auto;
}

// https://material.io/guidelines/style/color.html#color-usability
.primary-text {
    color: #000000;
    opacity: 0.87;
}

.secondary-text {
    color: #000000;
    opacity: 0.54;
}

.hint-text {
    color: #000000;
    opacity: 0.38;
}

.field-title {
    @extend .secondary-text;
    display: inline-block;
    width: auto;
    //color: $field-title-color;
    font-weight: $field-title-font-weight;
    font-size: $text-xs;
    margin-bottom: $field-title-margin-bottom;
}

.field-value {
    @extend .primary-text;
    display: inline-block;
    width: auto;
    font-size: $text-xs;
    margin-bottom: $field-title-margin-bottom;
}

.card-text-primary {
    @extend .primary-text;
    font-size: $text-sm;
}

.card-text-secondary {
    @extend .secondary-text;
    font-size: $text-xs;
}

.card-text-tertiary {
    @extend .secondary-text;
    font-size: 10px;
}

.btn-row {
    @include flex(space-between, center);
}

.btn-default {
    background-color: white;
    border: $border-default !important;
}

.btn-primary {
    background-color: $sfu-black !important;
    border: $border-default !important;
    border-color: $sfu-black !important;

    &:hover {
        cursor: pointer;
        background-color: $sfu-black-dark !important;
        border-color: $sfu-black-dark !important;
    }
}

.panel {
    background-color: $white;
}
.panel, .modal-dialog {
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);

  &.panel-default {
    border-color: #ddd;
  }

  .panel-heading, .panel-footer, .details-heading, .details-footer {
    color: #333;
    font-weight: $header-font-weight;
    background-color: $white;
    //border-color: #ddd;

    .form-control {
        background-color: $white !important;
    }
  }

  &.panel-login {
    width: 33%;
    min-width: 350px;
    margin-top: 50px;
    //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .panel-heading {
    padding: 20px 15px 10px 15px;
    border-bottom: 2px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .panel-body {
      height: 100%;
  }
  .panel-body, .panel-footer  {
    padding: 15px;
  }

  .panel-footer {
      @include flex(flex-end, center);
      border: none;
      padding: 16px 32px 32px 32px;
  }
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .form-control {
        margin-left: 20px;
    }
}
.x-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.modal-header { border-bottom: none; }
.modal-footer { border-top: none; }
.details-container {
    display: flex;
    flex-direction: column;
    padding: $padding-md;

    .details-heading {
        span { font-size: $text-md; }
    }

    .details-body {
        @include flex(flex-start, flex-start);
        flex-wrap: wrap;
        margin-bottom: 8px;
        padding: $padding-sm;
        border-radius: 8px;
        background-color: $grey-default;
    }

    .details-footer {
        @include flex(flex-end, center);
        padding: 8px;

        .btn {
            margin-left: 12px;
        }
    }

    .detail {
        min-width: 250px;
        margin-bottom: 8px;
        //padding: 10px 10px;
    }

    .detail-lg {
        min-width: 0px !important;
    }
}


.glyphicon-heading {
    margin-right: 4px;
}

.glyphicon-btn {
    color: $sfu-black;
    opacity: 0.85;
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.btn-circle {
    width: 3em;
    height: 3em;
    border-radius: 99px;
    bottom: 1em;
    margin-right: 1em;
    text-align: center;
    padding: 1px;
    line-height: 1.42;
  }

span.required-asterisk {
    color: red;
    font-size: 16px;
}

span.panel-header, .glyphicon-heading {
    color: #333;
    font-size: $text-md;
    font-weight: $header-font-weight;
    opacity: $header-opacity;
}

span.glyphicon-fire {
    color: $sfu-red;
}

.green { background: $color-danger; }

.icon {
    height: 24px;
    width: 24px;
    border: $border-default;
    border-radius: 99px;
}

.nav-tabs {
    @include flex(space-around, flex-start);
    //margin-top: $padding-sm;

    a {
        color: #333;
    }
}

.nav-tabs > li.active > a {
    //border: none !important;
    font-weight: 700;
}

.nav-tabs > li > a:hover {
    background-color: $grey-default;
}

.form-group {
    margin-bottom: $padding-lg !important;
}

.header {
    font-size: $text-lg;
}

.link {
    color: $link-color;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
        color: $link-color-hover;
    }
}

.flex {
    display: flex;
}

.alert {
    position: fixed;
    top: 30%;
    bottom: 80%;
    z-index: 1000;    
}

.alert .modal-dialog {
    margin: 0 10%;
    padding: 0;
    @media (max-width: 550px) {
        margin: 0 1%;
    }
}

.alert .modal-content {
    padding: 15px 15px 0 20px;
    width: 400px;
    max-width: 85vw;
}

.alertText {
    color: $sfu-red;
    opacity: 1 !important;
}

.invisible {
    visibility: none;
}

.transparent {
    opacity: .38 !important;
}

div.phone-input {
    @include flex(flex-start, center);
    input, span {
        margin-right: 8px;
    }
}

.phone-3 {
    width: 50px !important ;
}

.phone-4 {
    width: 60px !important ;
}

#logout {
    background-color: transparent;
    position: absolute;
    right: 0.5em;
    margin-top: 0.5em;
    color: #f9f9f9;
    }

div#new-report-panel, div#new-account-panel {
    margin-top: $padding-md;
}

.content-container {
    padding-top: $padding-lg;
}

.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear 0.5s;
}

/* RIGHT OFFSETS */
.col-xs-offset-right-12 { margin-right: 100%; }
.col-xs-offset-right-11 { margin-right: 91.66666667%; }
.col-xs-offset-right-10 { margin-right: 83.33333333%; }
.col-xs-offset-right-9 { margin-right: 75%; }
.col-xs-offset-right-8 { margin-right: 66.66666667%; }
.col-xs-offset-right-7 { margin-right: 58.33333333%; }
.col-xs-offset-right-6 { margin-right: 50%; }
.col-xs-offset-right-5 { margin-right: 41.66666667%; }
.col-xs-offset-right-4 { margin-right: 33.33333333%; }
.col-xs-offset-right-3 { margin-right: 25%; }
.col-xs-offset-right-2 { margin-right: 16.66666667%; }
.col-xs-offset-right-1 { margin-right: 8.33333333%; }
.col-xs-offset-right-0 { margin-right: 0; }

@media (min-width: 768px) {
    .col-sm-offset-right-12 { margin-right: 100%; }
    .col-sm-offset-right-11 { margin-right: 91.66666667%; }
    .col-sm-offset-right-10 { margin-right: 83.33333333%; }
    .col-sm-offset-right-9 { margin-right: 75%; }
    .col-sm-offset-right-8 { margin-right: 66.66666667%; }
    .col-sm-offset-right-7 { margin-right: 58.33333333%; }
    .col-sm-offset-right-6 { margin-right: 50%; }
    .col-sm-offset-right-5 { margin-right: 41.66666667%; }
    .col-sm-offset-right-4 { margin-right: 33.33333333%; }
    .col-sm-offset-right-3 { margin-right: 25%; }
    .col-sm-offset-right-2 { margin-right: 16.66666667%; }
    .col-sm-offset-right-1 { margin-right: 8.33333333%; }
    .col-sm-offset-right-0 { margin-right: 0; }
}

@media (min-width: 992px) {
    .col-md-offset-right-12 { margin-right: 100%; }
    .col-md-offset-right-11 { margin-right: 91.66666667%; }
    .col-md-offset-right-10 { margin-right: 83.33333333%; }
    .col-md-offset-right-9 { margin-right: 75%; }
    .col-md-offset-right-8 { margin-right: 66.66666667%; }
    .col-md-offset-right-7 { margin-right: 58.33333333%; }
    .col-md-offset-right-6 { margin-right: 50%; }
    .col-md-offset-right-5 { margin-right: 41.66666667%; }
    .col-md-offset-right-4 { margin-right: 33.33333333%; }
    .col-md-offset-right-3 { margin-right: 25%; }
    .col-md-offset-right-2 { margin-right: 16.66666667%; }
    .col-md-offset-right-1 { margin-right: 8.33333333%; }
    .col-md-offset-right-0 { margin-right: 0; }
}

@media (min-width: 1200px) {
    .col-lg-offset-right-12 { margin-right: 100%; }
    .col-lg-offset-right-11 { margin-right: 91.66666667%; }
    .col-lg-offset-right-10 { margin-right: 83.33333333%; }
    .col-lg-offset-right-9 { margin-right: 75%; }
    .col-lg-offset-right-8 { margin-right: 66.66666667%; }
    .col-lg-offset-right-7 { margin-right: 58.33333333%; }
    .col-lg-offset-right-6 { margin-right: 50%; }
    .col-lg-offset-right-5 { margin-right: 41.66666667%; }
    .col-lg-offset-right-4 { margin-right: 33.33333333%; }
    .col-lg-offset-right-3 { margin-right: 25%; }
    .col-lg-offset-right-2 { margin-right: 16.66666667%; }
    .col-lg-offset-right-1 { margin-right: 8.33333333%; }
    .col-lg-offset-right-0 { margin-right: 0; }
}

/****************************/
/*  Guard app styles
/****************************/

// .guard-container {
    //margin-top: 50px;
// }

.navbar-guard {
    margin-left: 30% !important;
    width: 100%;
}

#logout-link { display: none !important ;}
.navbar-sm { display: none ;}
@media (max-width: 767px) {
    body {
        font-size: 130% !important;
    }

    span.field-title {
        font-size: 110%;
        margin-top: 0.5em;
    }

    .card-text-primary, .card-text-secondary, .card-text-tertiary, select.form-control {
        font-size: 110% !important;
    }

    .navbar-sm {
        display: block;
    }
    .navbar-lg { display: none; }
}

.bottom-links {
    display: flex;
    justify-content: flex-end;
    padding-top: 8px;
    padding-bottom: 8px;

    span {
        margin: 8px;
    }
}

.flex-column {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.italic {
    font-style: italic;
}
