/* Contains general css rules for the entire app */
span, a, button {
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; }

body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  font-size: 12px !important;
  background: #f9f9f9; }

.main-container {
  height: calc(100vh - 50px);
  width: 100%; }

#main-navbar {
  height: 50px;
  background-color: #A6192E;
  border: none;
  border-radius: 0px !important;
  margin: 0px; }
  #main-navbar a, #main-navbar .link, #main-navbar .glyphicon-menu-hamburger {
    color: #ffffff; }
  #main-navbar .navbar-nav > li > a {
    font-size: 13px; }
    #main-navbar .navbar-nav > li > a:hover {
      background-color: #A6192E !important; }
  #main-navbar .navbar-brand {
    font-weight: 700; }
  #main-navbar .navbar-right {
    height: 50px;
    padding-top: 14px;
    padding-right: 24px; }
    #main-navbar .navbar-right .glyphicon-menu-hamburger {
      font-size: 16px; }
      #main-navbar .navbar-right .glyphicon-menu-hamburger:hover {
        cursor: pointer; }
  #main-navbar .dropdown-menu li {
    padding: 8px; }
  #main-navbar .dropdown-menu li#separator {
    border-top: 1px solid rgba(0, 0, 0, 0.16); }
  #main-navbar .dropdown-menu span {
    color: #54585A; }
  #main-navbar div.navbar-links, #main-navbar div.navbar-right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: auto; }

.max-height-width {
  height: 100%;
  width: 100%; }

#main-content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto; }

.sidebar {
  height: 100%;
  width: 250px; }

.row-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 24px; }
  .row-container.flex-center {
    justify-content: center !important;
    align-items: center !important; }

.test-panel {
  width: 100%;
  height: auto; }

.primary-text, .field-value, .card-text-primary {
  color: #000000;
  opacity: 0.87; }

.secondary-text, .field-title, .card-text-secondary, .card-text-tertiary {
  color: #000000;
  opacity: 0.54; }

.hint-text {
  color: #000000;
  opacity: 0.38; }

.field-title {
  display: inline-block;
  width: auto;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 8px; }

.field-value {
  display: inline-block;
  width: auto;
  font-size: 14px;
  margin-bottom: 8px; }

.card-text-primary {
  font-size: 14px; }

.card-text-secondary {
  font-size: 12px; }

.card-text-tertiary {
  font-size: 10px; }

.btn-row {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.btn-default {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16) !important; }

.btn-primary {
  background-color: #54585A !important;
  border: 1px solid rgba(0, 0, 0, 0.16) !important;
  border-color: #54585A !important; }
  .btn-primary:hover {
    cursor: pointer;
    background-color: #434648 !important;
    border-color: #434648 !important; }

.panel {
  background-color: #ffffff; }

.panel, .modal-dialog {
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .panel.panel-default, .modal-dialog.panel-default {
    border-color: #ddd; }
  .panel .panel-heading, .panel .panel-footer, .panel .details-heading, .panel .details-footer, .modal-dialog .panel-heading, .modal-dialog .panel-footer, .modal-dialog .details-heading, .modal-dialog .details-footer {
    color: #333;
    font-weight: 300;
    background-color: #ffffff; }
    .panel .panel-heading .form-control, .panel .panel-footer .form-control, .panel .details-heading .form-control, .panel .details-footer .form-control, .modal-dialog .panel-heading .form-control, .modal-dialog .panel-footer .form-control, .modal-dialog .details-heading .form-control, .modal-dialog .details-footer .form-control {
      background-color: #ffffff !important; }
  .panel.panel-login, .modal-dialog.panel-login {
    width: 33%;
    min-width: 350px;
    margin-top: 50px; }
  .panel .panel-heading, .modal-dialog .panel-heading {
    padding: 20px 15px 10px 15px;
    border-bottom: 2px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .panel .panel-body, .modal-dialog .panel-body {
    height: 100%; }
  .panel .panel-body, .panel .panel-footer, .modal-dialog .panel-body, .modal-dialog .panel-footer {
    padding: 15px; }
  .panel .panel-footer, .modal-dialog .panel-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: none;
    padding: 16px 32px 32px 32px; }

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .toolbar .form-control {
    margin-left: 20px; }

.x-container {
  display: flex;
  justify-content: flex-end;
  width: 100%; }

.modal-header {
  border-bottom: none; }

.modal-footer {
  border-top: none; }

.details-container {
  display: flex;
  flex-direction: column;
  padding: 16px; }
  .details-container .details-heading span {
    font-size: 18px; }
  .details-container .details-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 8px;
    padding: 12px;
    border-radius: 8px;
    background-color: #f9f9f9; }
  .details-container .details-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 8px; }
    .details-container .details-footer .btn {
      margin-left: 12px; }
  .details-container .detail {
    min-width: 250px;
    padding: 10px 10px; }
  .details-container .detail-lg {
    min-width: 0px !important; }

.glyphicon-heading {
  margin-right: 4px; }

.glyphicon-btn {
  color: #54585A;
  opacity: 0.85; }
  .glyphicon-btn:hover {
    opacity: 1;
    cursor: pointer; }

span.required-asterisk {
  color: red;
  font-size: 16px; }

span.panel-header, .glyphicon-heading {
  color: #333;
  font-size: 18px;
  font-weight: 300;
  opacity: 0.8; }

span.glyphicon-fire {
  color: #A6192E; }

.green {
  background: #cc0000; }

.icon {
  height: 24px;
  width: 24px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 99px; }

.nav-tabs {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }
  .nav-tabs a {
    color: #333; }

.nav-tabs > li.active > a {
  font-weight: 700; }

.form-group {
  margin-bottom: 20px !important; }

.header {
  font-size: 24px; }

.link {
  color: #0645AD; }
  .link:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #0B0080; }

.flex {
  display: flex; }

.alertText {
  color: red; }

.invisible {
  visibility: none; }

.transparent {
  opacity: .38 !important; }

div.phone-input {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  div.phone-input input, div.phone-input span {
    margin-right: 8px; }

.phone-3 {
  width: 50px !important; }

.phone-4 {
  width: 60px !important; }

#logout {
  background-color: transparent;
  position: absolute;
  right: 0.5em;
  margin-top: 0.5em;
  color: #f9f9f9; }

div#new-report-panel, div#new-account-panel {
  margin-top: 16px; }

/****************************/
/*  Guard app styles
/****************************/
.animate-show-hide.ng-hide {
  opacity: 0; }

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s; }

/* RIGHT OFFSETS */
.col-xs-offset-right-12 {
  margin-right: 100%; }

.col-xs-offset-right-11 {
  margin-right: 91.66666667%; }

.col-xs-offset-right-10 {
  margin-right: 83.33333333%; }

.col-xs-offset-right-9 {
  margin-right: 75%; }

.col-xs-offset-right-8 {
  margin-right: 66.66666667%; }

.col-xs-offset-right-7 {
  margin-right: 58.33333333%; }

.col-xs-offset-right-6 {
  margin-right: 50%; }

.col-xs-offset-right-5 {
  margin-right: 41.66666667%; }

.col-xs-offset-right-4 {
  margin-right: 33.33333333%; }

.col-xs-offset-right-3 {
  margin-right: 25%; }

.col-xs-offset-right-2 {
  margin-right: 16.66666667%; }

.col-xs-offset-right-1 {
  margin-right: 8.33333333%; }

.col-xs-offset-right-0 {
  margin-right: 0; }

@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%; }

  .col-sm-offset-right-11 {
    margin-right: 91.66666667%; }

  .col-sm-offset-right-10 {
    margin-right: 83.33333333%; }

  .col-sm-offset-right-9 {
    margin-right: 75%; }

  .col-sm-offset-right-8 {
    margin-right: 66.66666667%; }

  .col-sm-offset-right-7 {
    margin-right: 58.33333333%; }

  .col-sm-offset-right-6 {
    margin-right: 50%; }

  .col-sm-offset-right-5 {
    margin-right: 41.66666667%; }

  .col-sm-offset-right-4 {
    margin-right: 33.33333333%; }

  .col-sm-offset-right-3 {
    margin-right: 25%; }

  .col-sm-offset-right-2 {
    margin-right: 16.66666667%; }

  .col-sm-offset-right-1 {
    margin-right: 8.33333333%; }

  .col-sm-offset-right-0 {
    margin-right: 0; } }
@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%; }

  .col-md-offset-right-11 {
    margin-right: 91.66666667%; }

  .col-md-offset-right-10 {
    margin-right: 83.33333333%; }

  .col-md-offset-right-9 {
    margin-right: 75%; }

  .col-md-offset-right-8 {
    margin-right: 66.66666667%; }

  .col-md-offset-right-7 {
    margin-right: 58.33333333%; }

  .col-md-offset-right-6 {
    margin-right: 50%; }

  .col-md-offset-right-5 {
    margin-right: 41.66666667%; }

  .col-md-offset-right-4 {
    margin-right: 33.33333333%; }

  .col-md-offset-right-3 {
    margin-right: 25%; }

  .col-md-offset-right-2 {
    margin-right: 16.66666667%; }

  .col-md-offset-right-1 {
    margin-right: 8.33333333%; }

  .col-md-offset-right-0 {
    margin-right: 0; } }
@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%; }

  .col-lg-offset-right-11 {
    margin-right: 91.66666667%; }

  .col-lg-offset-right-10 {
    margin-right: 83.33333333%; }

  .col-lg-offset-right-9 {
    margin-right: 75%; }

  .col-lg-offset-right-8 {
    margin-right: 66.66666667%; }

  .col-lg-offset-right-7 {
    margin-right: 58.33333333%; }

  .col-lg-offset-right-6 {
    margin-right: 50%; }

  .col-lg-offset-right-5 {
    margin-right: 41.66666667%; }

  .col-lg-offset-right-4 {
    margin-right: 33.33333333%; }

  .col-lg-offset-right-3 {
    margin-right: 25%; }

  .col-lg-offset-right-2 {
    margin-right: 16.66666667%; }

  .col-lg-offset-right-1 {
    margin-right: 8.33333333%; }

  .col-lg-offset-right-0 {
    margin-right: 0; } }
.navbar-sm {
  display: none; }

@media (max-width: 768px) {
  .navbar-sm {
    display: block; }

  .navbar-lg {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
