<nav id="main-navbar" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-sm navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-right" aria-expanded="false"
                *ngIf="user!=null">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-option-vertical"></span>            
            </button>
            <button type="button" class=" navbar-sm navbar-toggle collapsed" aria-expanded="false"
                (click)="redirect('new-report')"  *ngIf="user!=null">
                <span class="glyphicon glyphicon-plus"></span>            
            </button>           
            <a class="navbar-sm navbar-brand">SFU IRS</a>
            <a class="navbar-lg navbar-brand">SFU Incident Reporting System</a>            
        </div>
  
        <div class="navbar-lg collapse navbar-collapse pull-sm-left" id="collapse-left" *ngIf="isAdmin">
            <ul class="nav navbar-nav">
                <li (click)="redirect('dashboard')"><a class="link">Dashboard</a></li>
                <li (click)="redirect('search')"><a class="link">Search</a></li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="collapse-right" *ngIf="user!=null">
            <ul class="navbar-sm nav navbar-nav navbar-right">
                <li (click)="redirect('dashboard')" *ngIf="isAdmin" data-target="#collapse-right" data-toggle="collapse">
                    <a class="link">Dashboard</a>
                </li>
                <li (click)="redirect('search')" *ngIf="isAdmin" data-target="#collapse-right" data-toggle="collapse">
                    <a class="link">Search</a>
                </li>
                <li (click)="redirect('new-account')" *ngIf="isAdmin"  data-target="#collapse-right" data-toggle="collapse">
                    <a class="link">Create Account</a>
                </li>
                <li (click)="redirect('guard-dashboard')" *ngIf="!isAdmin " data-target="#collapse-right" data-toggle="collapse">
                    <a class="link">Current Reports</a>
                </li>
                <li><a class="link" (click)="onLogout()">Logout</a></li>
            </ul>

            <ul class="navbar-lg nav navbar-nav navbar-right" *ngIf="user!=null">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li (click)="redirect('new-report')" *ngIf="!isAdmin"><a class="link">New Report</a></li>
                        <li (click)="redirect('guard-dashboard')" *ngIf="!isAdmin"><a class="link">Current Reports</a></li>
                        <li (click)="redirect('new-account')" *ngIf="isAdmin"><a class="link">Create Account</a></li>                        
                        <li><a class="link" (click)="onLogout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>