<nav id="main-navbar" class="navbar navbar-default navbar-sm">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-right" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="glyphicon glyphicon-option-vertical"></span>            
            </button>
            <button type="button" class="navbar-toggle collapsed" aria-expanded="false"
                (click)="redirect('new-report')">
                <span class="glyphicon glyphicon-plus"></span>            
            </button>           
            <a class="navbar-brand">SFU IRS</a>
        </div>
  
        <div class="collapse navbar-collapse" id="collapse-right">
            <ul class="nav navbar-nav navbar-right">
                <li (click)="redirect('dashboard')" *ngIf="isAdmin"><a class="link">Dashboard</a></li>
                <li (click)="redirect('search')" *ngIf="isAdmin"><a class="link">Search</a></li>
                <li (click)="redirect('new-account')" *ngIf="isAdmin"><a class="link">Create Account</a></li>
                <li (click)="redirect('guard-dashboard')" *ngIf="!isAdmin"><a class="link">Dashboard</a></li>
                <li><a class="link" (click)="onLogout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<nav id="main-navbar" class="navbar navbar-default navbar-lg">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">SFU Incident Reporting System</a>
        </div>
    
        <div class="collapse navbar-collapse pull-sm-left" id="collapse-left" *ngIf="isAdmin">
            <ul class="nav navbar-nav">
                <li (click)="redirect('dashboard')"><a class="link">Dashboard</a></li>
                <li (click)="redirect('search')"><a class="link">Search</a></li>
            </ul>
        </div>
    
        <div class="collapse navbar-collapse" id="collapse-right">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li (click)="redirect('new-account')"><a class="link">Create Account</a></li>
                        <li><a class="link" (click)="onLogout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>





