<div class="details-body">
    <div class="x-container">
        <span class="glyphicon glyphicon-remove glyphicon-btn"  (click)="removePersonFromReport()"></span>        
    </div>

    <div class="detail col-12 col-md-3 col-sm-6">
        <span class="field-title">First Name <span class="required-asterisk">*</span></span>
        <input class="form-control" id="personInputFirst" type="text" 
            (change)="findPerson()" [(ngModel)]="newPerson.attributes.FIRST_NAME"/>
    </div>
    <div class="detail col-12 col-md-3 col-sm-6">
        <span class="field-title">Last Name <span class="required-asterisk">*</span></span>
        <input class="form-control" id="personInputLast" type="text" 
            (change)="findPerson()" [(ngModel)]="newPerson.attributes.LAST_NAME"/>
    </div>
    <div class="detail col-12 col-md-3 col-sm-6">
        <span class="field-title">Phone Number <span class="required-asterisk">*</span></span>
        <div class="phone-input">
            <input type="text" maxlength="3" class="form-control phone-3" [(ngModel)]="phoneNumber1" 
                (change)="findPerson()"
                onkeypress='return (event.charCode >= 48 && event.charCode <= 57) 
                || event.keyCode == 8 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46'/> 
            <span>-</span>  
            <input type="text" maxlength="3" class="form-control phone-3" [(ngModel)]="phoneNumber2" 
                (change)="findPerson();"
                onkeypress='return (event.charCode >= 48 && event.charCode <= 57) 
                || event.keyCode == 8 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46'/>  
            <span>-</span>  
            <input type="text" maxlength="4" class="form-control phone-4" [(ngModel)]="phoneNumber3" 
                (change)="findPerson();"
                onkeypress='return (event.charCode >= 48 && event.charCode <= 57) 
                || event.keyCode == 8 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46'/>            
        </div>  

        <div *ngIf="!router.url.includes('guard-app')">
            <div class="bottom-links flex-column" *ngIf="!personExists">         
                <span class="field-title italic">
                    This person is not found in the database. Only existing persons can be added to a report.
                </span>         
                <span class="link" (click)="addPersonToDatabase()">Add Person</span>     
            </div>
        </div>

<!-- For Persons in Guard App -->
        <div *ngIf="router.url.includes('guard-app')">
            <div id="personModal" class="alert modal-fade" role="dialog" *ngIf="!personExists && modalVisible">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <button type="button" class="close" (click)="hide()" aria-hidden="true">×</button>
                <!-- <div class="bottom-links flex-column" *ngIf="!personExists"> -->
                        <div class="alert-body mt-1">
                            This person is not found in the database. Only existing persons can be added to a report.
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default pull-right btn-sm mt-2 mr-1 mb-1 ml-2" (click)="hide()">Cancel</button>                
                            <button class="btn btn-default pull-right btn-sm mt-2 mr-1 mb-1 ml-2" (click)="addPersonToDatabase()">Add Person</button>
                        </div>
                    </div>
                </div>
            </div>
            <button (click)="revertChanges('person')"
                    class="btn btn-sm btn-secondary pull-right mt-2 mr-1 mb-1 ml-2">
                <span class="glyphicon glyphicon-remove"></span> Cancel
            </button>
            <button (click)="findPerson()"
                class="btn btn-sm btn-primary pull-right mt-2 mb-1">
                <span class="glyphicon glyphicon-floppy-disk"></span> Save
            </button>
        </div>
    <!-- <div class="panel panel-default test-panel" style="overflow-y:scroll; height:90px" *ngIf="!personSelected">
        <ul id="peopleDisplay">
        <li *ngFor="let person of filterList">
            {{person.attributes.FIRST_NAME}}, 
            {{person.attributes.LAST_NAME}}, 
            {{person.attributes.PHONE_NUMBER}}   
            <button class=" glyphicon glyphicon-plus" (click)="selectPerson(person);"></button> 
        </li>
        </ul>-->


    </div>
</div>

    <!-- <button *ngIf="!personSelected" class="btn btn-primary" (click)="toggleNewPerson();">
            New Person
    </button>

    <div *ngIf="toggleNewPersonFlag">
        <div class="detail col-12 col-sm-3">
            <span class="field-title">First Name <span class="required-asterisk">*</span></span>
            <input class="form-control" type="text" [(ngModel)]="newPerson.attributes.FIRST_NAME" />
        </div>
        <div class="detail col-12 col-sm-3">
            <span class="field-title">Last Name <span class="required-asterisk">*</span></span>
            <input class="form-control" type="text" [(ngModel)]="newPerson.attributes.LAST_NAME" />
        </div>
        <div class="detail col-12 col-sm-3">
            <span class="field-title">Phone Number <span class="required-asterisk">*</span></span>
            <div class="phone-input">
                <input type="text" maxlength="3" class="form-control phone-3" [(ngModel)]="phoneNumber1" (change)="onChangePhoneNumber()"
                    onkeypress='return (event.charCode >= 48 && event.charCode <= 57) 
                    || event.keyCode == 8 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46'/> 
                <span>-</span>  
                <input type="text" maxlength="3" class="form-control phone-3" [(ngModel)]="phoneNumber2" (change)="onChangePhoneNumber()"
                    onkeypress='return (event.charCode >= 48 && event.charCode <= 57) 
                    || event.keyCode == 8 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46'/>  
                <span>-</span>  
                <input type="text" maxlength="4" class="form-control phone-4" [(ngModel)]="phoneNumber3" (change)="onChangePhoneNumber()"
                    onkeypress='return (event.charCode >= 48 && event.charCode <= 57) 
                    || event.keyCode == 8 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46'/>            
            </div>
        </div>
        <button class="btn btn-primary" (click)="addPerson()">Add person</button>
    </div>

</div> -->

<!-- <div class="details-body">
    <div class="x-container">
        <span class="glyphicon glyphicon-remove glyphicon-btn"  (click)="removePersonFromReport()"></span>        
    </div>
    <div class="detail col-12 col-sm-3" id="personSearch">
        <span class="field-title">Name </span>
        <input class="form-control" list="personSearchList">
        <span class="field-title">Phone Number </span>
        <input class="form-control" list="personSearchList">
        <datalist id="personSearchList">
            <option *ngFor="let person of personList" value ="{{person.attributes.FIRST_NAME}}, {{person.attributes.LAST_NAME}}, {{person.attributes.PHONE_NUMBER}}">
        </datalist>
    </div>

    <div>
        <button class="btn btn-primary" (click)="toggleNewPerson();">
                New Person
        </button>
    </div>

    <div *ngIf="toggleNewPersonFlag">
        <div class="detail col-12 col-sm-3">
            <span class="field-title">First Name <span class="required-asterisk">*</span></span>
            <input class="form-control" type="text" [(ngModel)]="newPerson.attributes.FIRST_NAME" />
        </div>
        <div class="detail col-12 col-sm-3">
            <span class="field-title">Last Name <span class="required-asterisk">*</span></span>
            <input class="form-control" type="text" [(ngModel)]="newPerson.attributes.LAST_NAME" />
        </div>
        <div class="detail col-12 col-sm-3">
            <span class="field-title">Phone Number <span class="required-asterisk">*</span></span>
            <div class="phone-input">
                <input type="text" maxlength="3" class="form-control phone-3" [(ngModel)]="phoneNumber1" (change)="onChangePhoneNumber()"
                    onkeypress='return (event.charCode >= 48 && event.charCode <= 57) 
                    || event.keyCode == 8 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46'/> 
                <span>-</span>  
                <input type="text" maxlength="3" class="form-control phone-3" [(ngModel)]="phoneNumber2" (change)="onChangePhoneNumber()"
                    onkeypress='return (event.charCode >= 48 && event.charCode <= 57) 
                    || event.keyCode == 8 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46'/>  
                <span>-</span>  
                <input type="text" maxlength="4" class="form-control phone-4" [(ngModel)]="phoneNumber3" (change)="onChangePhoneNumber()"
                    onkeypress='return (event.charCode >= 48 && event.charCode <= 57) 
                    || event.keyCode == 8 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46'/>            
            </div>
        </div>
        <button (click)="addPerson()">add person</button>
    </div>
</div>  -->
