<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-10 col-sm-offset-1 col-sm-offset-right-1
                    col-lg-6 col-lg-offset-3 col-lg-offset-right-3">
            <div id="new-account-panel" class="panel panel-default">
                <div class="panel-heading">
                    <div>
                        <span class="glyphicon glyphicon-user glyphicon-heading"></span>
                        <span class="panel-header">Create New Account</span>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="details-container">
                        <div>
                            <div class="details-body">
                                <div class="detail col-sm-6 col-sm-offset-right-6">
                                    <span class="filter-title">First Name <span class="required-asterisk">*</span></span>
                                    <input class="form-control" type="text"  [(ngModel)]="newAccount.staff.attributes.FIRST_NAME"/>
                                </div>

                                <div class="detail col-sm-6 col-sm-offset-right-6">
                                    <span class="filter-title">Last Name <span class="required-asterisk">*</span></span>
                                    <input class="form-control" type="text" [(ngModel)]="newAccount.staff.attributes.LAST_NAME" />
                                </div>

                                <div class="detail col-sm-6 col-sm-offset-right-6">
                                    <span class="filter-title">Campus <span class="required-asterisk">*</span></span>
                                    <select class="form-control" [(ngModel)]="newAccount.staff.attributes.CAMPUS_ID">
                                        <option *ngFor="let staff of staffArr" [value]="staff.attributes.CAMPUS_ID">{{staff.attributes.CAMPUS_ID}}</option>
                                    </select>
                                </div>

                                <div class="detail col-sm-6 col-sm-offset-right-6">
                                    <span class="filter-title">Role <span class="required-asterisk">*</span></span>
                                    <select class="form-control" [(ngModel)]="newAccount.user.attributes.ACCOUNT_TYPE">
                                        <option *ngFor="let type of accTypes" [value]="type">{{type}}</option>
                                    </select>
                                </div>

                                <div class="detail col-sm-6 col-sm-offset-right-6">
                                    <span class="filter-title">Username <span class="required-asterisk">*</span></span>
                                    <input class="form-control" type="text" [(ngModel)]="newAccount.user.attributes.username"/>
                                </div>

                                <div class="detail col-sm-6 col-sm-offset-right-6">
                                    <span class="filter-title">Password <span class="required-asterisk">*</span></span>
                                    <input class="form-control" type="password" [(ngModel)]="password"/>
                                </div>

                                <div class="detail col-sm-6 col-sm-offset-right-6">
                                    <span class="filter-title">Confirm Password <span class="required-asterisk">*</span></span>
                                    <input class="form-control" type="password" [(ngModel)]="confirmPassword"/>
                                </div>

                                
                            </div>
                        </div>
                    </div>

                </div>
                
                <div class="panel-footer">
                    <button class="btn btn-default" (click)="createAccount()">Create Account</button>
                </div>
            </div>
        </div>
    </div>
</div>