<spinner-component *ngIf="showSpinner"></spinner-component>

<div class="container-fluid">
    <div class="row">
        <div class="content-container col-12 col-sm-10 col-sm-offset-1 col-sm-offset-right-1
                    col-lg-6 col-lg-offset-3 col-lg-offset-right-3">

            <form (ngSubmit)="onSearch()" id="search-form">
                <input type="text" class="form-control search-element" id="search-input"
                    [(ngModel)]="queryString" [ngModelOptions]="{standalone: true}"/>
                <button id="search-btn" class="btn btn-primary search-element">
                    <span class="glyphicon glyphicon-search" type="submit"></span>
                </button>
                <br>
                <input type="checkbox" [(ngModel)]="isCTSearch" [ngModelOptions]="{standalone: true}">Search specific terms
            </form>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="incident-card" *ngFor="let incident of incidents">
                            <div class="main-content">
                                <div class="detail-row">
                                    <span class="card-text-secondary">Report #{{incident.attributes.REPORT_ID}}</span>
                                    <span class="card-text-tertiary" *ngIf="incident.attributes.START_TIME != null">{{incident.attributes.START_TIME}}</span>                                                                        
                                    <span class="card-text-secondary alertText" *ngIf="incident.attributes.TEMPORARY_REPORT == 1"> &mdash; Pending Approval</span>
                                </div>
                                <!-- <div class="detail-row">
                                    <span class="card-text-secondary">Status: {{statuses[incident.attributes.STATUS]}}</span>
                                </div> -->
                                <div class="detail-row description">
                                    <span class="card-text-primary">
                                        {{incident.attributes.EXECUTIVE_SUMMARY}}
                                    </span>
                                </div>
                                <div class="detail-row description">
                                    <span class="card-text-primary">
                                        Description: {{incident.attributes.DESCRIPTION}}
                                    </span>
                                </div>
                                <div class="detail-row">
                                    <span class="card-text-secondary">
                                        Category: {{incident.category.attributes.MAIN_CATEGORY}} - {{incident.category.attributes.SUB_CATEGORY}} {{incident.category.attributes.INCIDENT_TYPE}}
                                    </span>
                                </div>
                                <div class="detail-row" *ngIf="incident.guard != null && incident.guard.attributes.FIRST_NAME != null">
                                    <span class="card-text-secondary">
                                        Assigned To: {{incident.guard.attributes.FIRST_NAME}} {{incident.guard.attributes.LAST_NAME}}
                                    </span>
                                </div>
                                <div class="detail-row" *ngIf="incident.incidentElements['Location'] != null && incident.incidentElements['Location'].length > 0">
                                    <span class="card-text-secondary">Locations: </span>
                                    <span class="card-text-secondary" *ngFor="let location of incident.incidentElements['Location']">
                                        [{{location.attributes.CITY}} {{location.attributes.BUILDING_NAME}} {{location.attributes.ROOM_NUMBER}}]
                                    </span>
                                </div>
                                <div class="detail-row" *ngIf="incident.incidentElements['Person'] != null && incident.incidentElements['Person'].length > 0">
                                    <span class="card-text-secondary">Involved Persons: </span>
                                    <span class="card-text-secondary" *ngFor="let person of incident.incidentElements['Person']">
                                        [{{person.attributes.FIRST_NAME}} {{person.attributes.LAST_NAME}} {{person.attributes.PHONE_NUMBER}}]
                                    </span>
                                </div>
                                <div class="detail-row">
                                    <span class="card-text-secondary">Created By: 
                                        [{{incident.createdBy.attributes.FIRST_NAME}} {{incident.createdBy.attributes.LAST_NAME}}]                                            
                                    </span>
                                </div>
                                <div class="detail-row">
                                    <span class="card-text-secondary">Status: 
                                        [{{statuses[incident.attributes.STATUS]}}]                                            
                                    </span>
                                </div>
                            </div>

                            <div class="actions">
                                <button class="btn btn-default" *ngIf="incident.inWorkspace"
                                    (click)="removeFromWorkspace(incident.attributes.REPORT_ID)">
                                    Remove From Workspace
                                </button>
    
                                <button class="btn btn-primary" *ngIf="!incident.inWorkspace"
                                    (click)="addToWorkspace(incident)">
                                    Add To Workspace
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>